# Quarto
_book/
.quarto/
/.quarto/
**/*.quarto_ipynb
*.html
*.pdf
.netlify

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
inst/doc

# renv
renv/library/
renv/staging/

# zzcollab
.make/
.zzcollab.log

# OS / editors
.DS_Store
node_modules/
